<ul *ngIf="userdata !== undefined">
  {{userdata | json}}
  <li>{{userdata.firstname}}</li>
  <li>{{userdata.lastname}}</li>
  <li>{{userdata.email}}</li>
  <li>{{userdata.address}}</li>
  <li>{{userdata.mobilenumber}}</li>
</ul>
<div class="d-grid gap-2 col-4 mx-auto mt-4" *ngIf="!modify">
  <button class="btn btn-primary" type="button" (click)="updatemodify()">Modify</button>
</div>
<div *ngIf="modify">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Registration Form</h2>
    <div class="form-group has-error">
      <label>First Name*</label>
      <input type="text" class="form-control" placeholder="First Name*" required formControlName="firstname" />
      <div *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)">
        <div *ngIf="f.firstname.errors?.required" class="error feedback-red">Invalid First Name.</div>
      </div>
    </div>
    <div class="form-group mt-2">
      <label>Last Name*</label>
      <input type="text" class="form-control" placeholder="Last Name*" formControlName="lastname" />
      <div *ngIf="f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)">
        <div *ngIf="f.lastname.errors?.required" class="error feedback-red">Invalid Last Name.</div>
      </div>
    </div>
    <div class="form-group mt-2">
      <label>Email Address*</label>
      <input type="email" class="form-control" placeholder="example@example.com" formControlName="email" />
      <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
        <div *ngIf="f.email.errors?.required" class="error feedback-red">Invalid Email Address.</div>
        <div *ngIf="f.email.errors?.pattern" class="error feedback-red">Invalid Email Format.</div>
      </div>
    </div>
    <div class="form-group mt-2">
      <label>Mobile Number*</label>
      <input type="text" class="form-control" placeholder="Mobile Number*" formControlName="mobilenumber" />
      <div *ngIf="f.mobilenumber.invalid && (f.mobilenumber.dirty || f.mobilenumber.touched)">
        <div *ngIf="f.mobilenumber.errors?.required" class="error feedback-red">mobilenumber required.</div>
        <div *ngIf="f.mobilenumber.errors?.pattern" class="error feedback-red">Invalid Mobile Format.</div>
      </div>
    </div>
    <div class="form-group mt-2">
      <label>Address*</label>
      <input type="text" class="form-control" placeholder="Address*" formControlName="address" />
      <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
        <div *ngIf="f.address.errors?.required" class="error feedback-red">Invalid Address.</div>
      </div>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto mt-4">
      <button class="btn btn-primary" type="submit" [disabled]="addForm.invalid">Update </button>
    </div>
  </form>
</div>
